/*format body*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
.logins{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(27, 30, 49);
}

/*format form*/
form{
    border: 3px solid #f1f1f1;
    width: 300px;
    height: 450px;
    border-radius: 10px;
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

/*format tabs on landing page*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.drop{
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: inline-block;
}

.dropDown .icon{
    float: left;
    padding: 10px 10px;
    outline: none;
    border: none;
    height: 15px;
}

.dropDown label{
    float: left;
    padding: 10px 10px;
    outline: none;
    border: none;
    height: 15px;
}

.dropDown button{
    float: left;
    outline: none;
    border: none;
    height: 15px;
    padding: 10px 10px;
}

.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 8px;
    transition: 0.3s;
    font-size: 17px;

}

.tab button:hover {
    background-color: lightgrey;
}

table td{
    color: white;
}

.home {
    color: white;
}
.home:hover{
    color: lightblue;
}

/*format container of form*/
.loginPage{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Center form on page horizontally & vertically */
    
}

/*format the container of image*/
.imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
}

/*format avatar image*/
img.avatar{
    width: 40%;
    border-radius: 50%;
}

/*format container of login portion*/
.container{
    padding: 16px;
}

/*format username and password text boxes*/
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/*General Button Formatting*/
form button{
    cursor: pointer;
    margin: 8px 0;
}

/*Current login button format*/
.login{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    width: 100%;
}

/*add hover effect to button*/
button:hover{
    opacity: 0.8;
}
