/*format body*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

/*format form*/
form{
    border: 3px solid #f1f1f1;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

/*format container of form*/
.loginPage{
    position: absolute;

    width: 300px;
    height: 300px;

    /* Center form on page horizontally & vertically */
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

/*format the container of image*/
.imgcontainer{
    text-align: center;
    margin: 24px 0 12px 0;
}

/*format avatar image*/
img.avatar{
    width: 40%;
    border-radius: 50%;
}

/*format container of login portion*/
.container{
    padding: 16px;
}

/*format username and password text boxes*/
input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/*General Button Formatting*/
button{
    cursor: pointer;
    margin: 8px 0;
}

/*Current login button format*/
.login{
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    width: 100%;
}

/*add hover effect to button*/
button:hover{
    opacity: 0.8;
}

td{
    padding: 15px;
}

table {
    border-spacing: 30px;
  }
